<%provide(:title, "Home") %>

<div class="center jumbotron">
    <h1>ようこそ、シフト管理アプリへ</h1>
    <h2>あなたのチームや組織のスケジュールを管理します。</h2>
    <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
</div> 